<footer>
  <p>Site desenvolvido por:</p>

  <div class='card-content'>
    <div class='card'>
      <img src='/static/images/gabriel.jpeg' />
      <div class='info'>
        <h4>Gabriel Victor</h4>
        <div class='social-media'>
          <a target='_blank' href='https://github.com/gabrieldev525'><i class='fab fa-github'></i></a>
          <a target='_blank' href='https://www.linkedin.com/in/gabriel-victor-7a5425191/'><i class='fab fa-linkedin'></i></a>
        </div>
      </div>
    </div>

    <div class='card'>
      <img src='/static/images/helder.jpeg' />
      <div class='info'>
        <h4>Helder Junior</h4>
        <div class='social-media'>
          <a target='_blank' href='https://github.com/Heldercmj'><i class='fab fa-github'></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>