<%- contentFor('title') %>
Contagem

<%- contentFor('body') %>

<form action="/contagem" method="POST">

  <input type="number" name="num">
  <input type="submit">

</form>

<% if (resultado) { %> 
  <h1><%= resultado %> </h1>
<% } %> 