<%- contentFor('title') %>
Página inicial

<%- contentFor('style') %>
<link rel='stylesheet' href='/static/css/home.css' />

<%- contentFor('body') %>
<div class='content-box'>
  <img src='/static/images/initial-image.jpg' />

  <div class='button-items-list'>
    <button onclick='window.location.href = "/primo"'>Número primo</button>
    <button onclick='window.location.href = "/somatorio"'>Somatório</button>
    <button onclick='window.location.href = "/fibonacci"'>Fibonacci</button>
    <button onclick='window.location.href = "/mdc"'>MDC</button>
    <button onclick='window.location.href = "/ordenacao"'>Ordenação</button>
    <button onclick='window.location.href = "/contagem"'>Contagem</button>
  </div>
</div>