body, html {
    background-color: rgb(23, 98, 128);
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.content-box {
    display:flex;
    flex-direction: column;
    margin: auto;
    background-color: rgb(43, 149, 190);
    padding: 2%;
    border-radius: 24px;
    width: 20%;
    box-shadow: 2px 1px 8px rgba(9, 60, 80, .6);
}

.content-box form {
    width: 100%;
    margin-top: 2%;
    padding: 0;
}

.content-box form .input-field {
    width: 100%;
    background-color: rgb(23, 98, 128);
    color: #fff;
    padding: 5%;
    border-radius: 24px;
    margin-bottom: 5%;
    box-sizing: border-box;
    height: 50px;
    outline: 0;
    border: 0;
}

.content-box form input[type=submit] {
    width: 60%;
    padding: 4% 2%;
    background-color: rgb(253, 175, 59);
    color: rgb(255, 255, 255);
    display: flex;
    font-weight: bold;
    border-radius: 24px;
    margin: 8% auto 2%;
    border: 0;
    justify-content: center;
}

.content-box label, .content-box a {
    color: rgb(238, 238, 238);
    margin-bottom: 5px;
    display: flex;
}

.content-box h2 {
    color: rgb(253, 175, 59);
    margin: 0;
    margin-bottom: 10%;
}